#controls {
  width: 486px;
  padding: 32px;
  background-color: #f6f6fe;
  display: flex;
  gap: 16px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
#boxes {
  padding: 32px;
  background-color: #f6f6fe;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  border-radius: 8px;
}
#controls input {
  width: 150px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#controls button {
  margin: 16px 0px;
  width: 120px;
  height: 40px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin-top: 16px;
  transition: background-color 0.3s ease;
}

#controls button:hover {
  background-color: #6C8CFF;
}

/* Kırmızı buton (3. eleman) */
#controls :nth-child(3) {
  background-color: #FF4E4E;
  transition: background-color 0.3s ease;
}

#controls :nth-child(3):hover {
  background-color: #FF7070;
}
